/*  Global styles */
body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("../images/bg.png");
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    color: #3e3e3e;
}


/* Utility css */

.clearfix {
 clear:both;
}

.clearfix:before, .clearfix:after{
    content: " ";
    display:block;
    clear:both;
} 
